@import url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare.css');

.animate-draw {
  stroke-dasharray: 5, 5;
  animation: dash 1s linear infinite;
}

.animate-blink {
  animation: blink 1s linear infinite;
}

.animate-fade {
  animation: fade 2s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes blink {
  50% {
    stroke-opacity: 0;
  }
}

@keyframes fade {
  0%,
  100% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.2;
  }
}

.svg-container {
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}

.svg-group {
  stroke: none;
  stroke-width: 1;
}

.group-name {
  font-size: 14px;
  fill: black;
  text-anchor: start;
  dominant-baseline: hanging;
}
